img{
    width: 100%;
    height: 400px;
}

.red_truck{
    margin-top: 88px;
    width: 750px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img{
        width: 380px;
    }
    .red_truck{
        width: 50px;
    }
   
  }