.truck_img{
    width: 747px;
}
.truck_4k{
  width: 100%;
  height: 500px;
   object-fit: cover;
}
.progress-bar {
  position: fixed;
  top:64px;
  left: 0;
  right: 0;
  height: 10px;
  background:linear-gradient(to bottom right, red , blue);
  transform-origin: 0%;
}

@media screen and (max-width: 600px) {
    .truck_img{
      width: 372px;
    }
    .truck_4k{
      height: 275px;
    }
  }